html {
	background-color: #fafafa;
}
body {
	font-family: 'Lato', sans-serif; background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
p {
	font-family: 'Lato', sans-serif;	
}
/* Overwrite */
.title {
	font-weight: 900;
}
.subtitle {
	font-family: 'Lato', sans-serif;
}
h1.title {
	font-size: 3.5rem;
}
.hero .notification {
	padding: 5rem;
}
a.navbar-item, .navbar-item .button {
    font-weight: 700;
}
.navbar.is-transparent {
	background-color: rgba(255,255,255,.90);
	box-shadow: none;
}
a {
	color: #209cee;
}
.button {
	font-weight: 700;
}
video {
	padding: 2rem;
}
.card .title {
	font-size: 1.5rem;
}
.footer {
	background-color: #;
	color: #919EAB;
}
.footer a {
	color: #919EAB;
}
.footer a:hover {
	color: #209cee;
	text-decoration: underline;
}
.footer li {
	padding: .5rem 0;
}
.footer .is-multiline {
	padding-bottom: 5rem;
}
.legal-text p, .legal-text h2, .legal-text ol, .legal-text ul {
	padding: 1rem 0;
}
.legal-text h1, .legal-text h2 {
	font-family: Helvetica, sans-serif;
}
.container.narrow-page {
margin: 3rem auto;
}
.content ul {
	margin: 0;
	padding: 0;
}
.content li {
	list-style: none;
}
.pricing h1 {
	font-size: 3rem;
	font-weight: 900;
}
.pricing h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
}
.pricing h3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 3rem;
	margin: 0;
}
.pricing .field {
    padding: 2rem 0;
}
.instructions .title {
	font-family: Helvetica, sans-serif;
}
.instructions article {
	padding-bottom: 3rem;
}
@media screen and (min-width: 1472px)
{
	.container {
		padding: 0 10rem;
	}
}
@media screen and (min-width: 1280px)
{
	.container {
		padding: 0 5rem;
	}
}
@media screen and (min-width: 1088px)
{

}
@media screen and (max-width: 768px)
{
	.hero .notification {
		padding: 2rem;
	}
	h1.title {
		font-size: 2.5rem;
	}
}