html {
	background-color: #fafafa;
}
body {
	font-family: 'Lato', sans-serif; background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
p {
	font-family: 'Lato', sans-serif;	
}
/* Overwrite */
.title {
	font-weight: 900;
}
.subtitle {
	font-family: 'Lato', sans-serif;
}
.hero h1.title {
	font-size: 3.0rem;
}
.hero .notification {
	padding: 5rem;
}
a.navbar-item, .navbar-item .button {
    font-weight: 700;
}
.navbar.is-transparent {
	background-color: rgba(255,255,255,.90);
	box-shadow: none;
}
a {
	color: #209cee;
}
.hero.is-small .hero-body {
	padding-bottom: 0!important;
}
.button {
	font-weight: 700;
}
video {
	padding: 2rem;
}
.card .title {
	font-size: 1.5rem;
}
.footer {
	background-color: #;
	color: #919EAB;
}
.footer a {
	color: #919EAB;
}
.footer a:hover {
	color: #209cee;
	text-decoration: underline;
}
.footer li {
	padding: .5rem 0;
}
.footer .is-multiline {
	padding-bottom: 5rem;
}
.legal-text p, .legal-text h2, .legal-text ol, .legal-text ul {
	padding: 1rem 0;
}
.legal-text h1, .legal-text h2 {
	font-family: Helvetica, sans-serif;
}
.container.narrow-page {
margin: 3rem auto;
}
.content ul {
	margin: 0;
	padding: 0;
}
.content li {
	list-style: none;
}
.content iframe {
	max-width: 100%;
}
.pricing h1 {
	font-size: 3rem;
	font-weight: 900;
}
.pricing h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
}
.pricing h3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 3rem;
	margin: 0;
}
.pricing .field {
    padding: 2rem 0;
}
.instructions .title {
	font-family: Helvetica, sans-serif;
}
.instructions article {
	padding-bottom: 3rem;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  bottom: 100%;
  left: 0%; 
  margin-left: -5px; /* Use half of the width (120/2 = 60), to center the tooltip */
  opacity: 0;
  transition: opacity .5s;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
	opacity: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media screen and (min-width: 1472px)
{
	.container {
		padding: 0 10rem;
	}
}
@media screen and (min-width: 1280px)
{
	.container {
		padding: 0 5rem;
	}
}
@media screen and (min-width: 1088px)
{

}
@media screen and (max-width: 768px)
{
	.hero .notification {
		padding: 2rem;
	}
	h1.title {
		font-size: 2.5rem;
	}
}